<div *ngIf="editarPessoa">
  <h2>Editar Pessoa</h2>
    <form>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="pessoaSelecionada.nome" required="required"><br>
          <input type="text" class="form-control" ng-model="pessoaSelecionada.cpf" required="required" /><br>
          <input type="email" class="form-control" ng-model="pessoaSelecionada.email" required="required"><br>
          <input type="date" class="form-control" ng-model="pessoaSelecionada.dataNascimento" required="required">
        </div>
        <form name="formularioGrid" ng-submit="" class="form-horizontal">
            <div>
              <div><strong>Endereços</strong>
                <hr/><br/>
                <div class="form-group">
                  <div ng-class="{&quot;has-error&quot;: formularioGrid.producaoMensal.$dirty &amp;&amp; formularioGrid.producaoMensal.$invalid}" class="has-feedback">
                    <div class="row">
                      <div class="col-md-5">
                        <input class="form-control" type="text" ng-model="" required="required" placeholder="Distrito"/><br>
                        <input class="form-control" type="text" ng-model="" required="required" placeholder="Bairro"/><br>
                        <input class="form-control" type="text" ng-model="" required="required" placeholder="Logradouro"/><br>
                        <input class="form-control" type="text" ng-model="" required="required" placeholder="Número"/><br>
                        <input class="form-control" type="text" ng-model="" required="required" placeholder="Complemento"/><br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-left">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </form><br/>
          <div >
            <div class="row">
              <div class="col-md-12">
            </div>
        </div>
        </div>
        <td>
            <button class="btn btn-primary" (click)="voltar()">Voltar</button>
        </td>
        <td>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </td>        
    </form>
    <br>
</div>
<div *ngIf="inserirPessoa">
  <h2>Cadastrar Pessoa</h2>
    <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Nome" required="required"><br>
          <input type="text" class="form-control" placeholder="Digite o CPF" required="required" /><br>
          <input type="email" class="form-control" placeholder="Email" required="required"><br>
          <input type="date" class="form-control"  placeholder="Data de Nascimento" required="required">
        </div>
        <form name="formularioGrid" ng-submit="" class="form-horizontal">
            <div>
              <div><strong>Endereços</strong>
                <hr/><br/>
                <div class="form-group">
                  <div ng-class="{&quot;has-error&quot;: formularioGrid.producaoMensal.$dirty &amp;&amp; formularioGrid.producaoMensal.$invalid}" class="has-feedback">
                    <div class="row">
                      <div class="col-md-5">
                        <input class="form-control" type="text" ng-model="endereco.nome" required="required" placeholder="Distrito"/><br>
                        <input class="form-control" type="text" ng-model="endere" required="required" placeholder="Bairro"/><br>
                        <input class="form-control" type="text" ng-model="" required="required" placeholder="Logradouro"/><br>
                        <input class="form-control" type="text" ng-model="" required="required" placeholder="Número"/><br>
                        <input class="form-control" type="text" ng-model="" required="required" placeholder="Complemento"/><br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-left">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </form><br/>
          <div >
            <div class="row">
              <div class="col-md-12">                
            </div>
        </div>
        </div>
        <td>
            <button class="btn btn-primary" (click)="voltar()">Voltar</button>
        </td>
        <td>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </td>        
    </form>
    <br>
</div>
<div *ngIf="!editarPessoa && !inserirPessoa">
    <button type="button" class="btn btn-primary" (click)="cadastrarPessoa()">Inserir Pessoa</button><br>
    <br>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.cpf}}</td>
            <td>{{pessoa.email}}</td>
            <div>
                <td><button type="button" class="btn btn-primary" (click)="editar(pessoa)">Editar</button></td>
                <td><button type="button" class="btn btn-danger">Excluir</button></td>
            </div>
        </tbody>
    </table>
</div>
