<div *ngIf="editarPessoa">
  <h2>Editar Pessoa</h2>
    <form>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="pessoaSelecionada.nome" required="required"><br>
          <input type="text" class="form-control" ng-model="pessoaSelecionada.cpf" required="required" /><br>
          <input type="email" class="form-control" ng-model="pessoaSelecionada.email" required="required"><br>
          <input type="date" class="form-control" ng-model="pessoaSelecionada.dataNascimento" required="required">
        </div>
        <form name="formularioGrid" ng-submit="" class="form-horizontal">
            <div>
              <div><strong>Endereços</strong>
                <hr/><br/>
                <div class="form-group">
                  <div ng-class="{&quot;has-error&quot;: formularioGrid.producaoMensal.$dirty &amp;&amp; formularioGrid.producaoMensal.$invalid}" class="has-feedback">
                    <div class="row">
                      <div class="col-md-5">
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.distrito" required="required" placeholder="Distrito"/><br>
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.bairro" required="required" placeholder="Bairro"/><br>
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.logradouro" required="required" placeholder="Logradouro"/><br>
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.numero" required="required" placeholder="Número"/><br>
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.complemento" required="required" placeholder="Complemento"/><br>
                      </div>
                    </div>
                  </div>
                </div>
                <table class="table table-hover table-responsive">
                  <thead>
                    <th class="header">Distrito</th>
                    <th class="header">Bairro</th>
                    <th class="header">Logradouro</th>
                    <th class="header">Numero</th>
                    <th class="header">Complemento</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="let endereco of enderecosGrid">
                      <td>{{endereco.distrito}}</td>
                      <td>{{endereco.bairro}}</td>
                      <td>{{endereco.logradouro}}</td>
                      <td>{{endereco.numero}}</td>
                      <td>{{endereco.complemento}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-12 text-left">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus" (click)="adicionarEnderecoGrid(endereco)"></i> Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </form><br/>
          <div >
            <div class="row">
              <div class="col-md-12">
            </div>
        </div>
        </div>
        <td>
            <button class="btn btn-primary" (click)="voltar()">Voltar</button>
        </td>
        <td>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </td>        
    </form>
    <br>
</div>
<div *ngIf="inserirPessoa">
  <h2>Cadastrar Pessoa</h2>
    <form>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="pessoaSelecionada.nome" placeholder="Nome" required="required"><br>
          <input type="text" class="form-control" ng-model="pessoaSelecionada.cpf" placeholder="Digite o CPF" required="required" /><br>
          <input type="email" class="form-control" ng-model="pessoaSelecionada.email" placeholder="Email" required="required"><br>
          <input type="date" class="form-control"  ng-model="pessoaSelecionada.datanascimento" placeholder="Data de Nascimento" required="required">
        </div>
        <form name="formularioGrid" ng-submit="" class="form-horizontal">
            <div>
              <div><strong>Endereços</strong>
                <hr/><br/>
                <div class="form-group">
                  <div ng-class="{&quot;has-error&quot;: formularioGrid.producaoMensal.$dirty &amp;&amp; formularioGrid.producaoMensal.$invalid}" class="has-feedback">
                    <div class="row">
                      <div class="col-md-5">
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.distrito" required="required" placeholder="Distrito"/><br>
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.bairro" required="required" placeholder="Bairro"/><br>
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.logradouro" required="required" placeholder="Logradouro"/><br>
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.numero" required="required" placeholder="Número"/><br>
                        <input class="form-control" type="text" ng-model="pessoaSelecionada.enderecos.complemento" required="required" placeholder="Complemento"/><br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-left">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus" (click)="adicionarEnderecoGrid(endereco)" ></i> Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </form><br/>
          <div >
            <div class="row">
              <div class="col-md-12">                
            </div>
        </div>
        </div>
        <td>
            <button class="btn btn-primary" (click)="voltar()">Voltar</button>
        </td>
        <td>
            <button type="submit" class="btn btn-success" (click)="cadastrarPessoa(pessoa)">Cadastrar</button>
        </td>        
    </form>
    <br>
</div>
<div *ngIf="!editarPessoa && !inserirPessoa">
    <button type="button" class="btn btn-primary" (click)="salvarPessoa(pessoaSelecionada)">Inserir Pessoa</button><br>
    <br>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.cpf}}</td>
            <td>{{pessoa.email}}</td>
            <div>
                <td><button type="button" class="btn btn-primary" (click)="editar(pessoa)">Editar</button></td>
                <td><button type="button" class="btn btn-danger">Excluir</button></td>
            </div>
        </tbody>
    </table>
</div>
